<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Thông báo tạo shop thất bại</title>
</head>
<body>
<h2>Rất tiếc, yêu cầu tạo shop của bạn đã thất bại!</h2>
<p>Xin chào <strong th:text="${fullName}"></strong>,</p>
<p>Shop của bạn <strong th:text="${shopName}"></strong> không thể được tạo do một số lý do.</p>
<br />
<p>Người xử lý yêu cầu của bạn: <strong th:text="${managerName}"></strong></p>
<p>Ý kiến: <strong th:text="${opinion}"></strong></p>
<p>Chi tiết: <strong th:text="${detail}"></strong></p>
<p>Vui lòng liên hệ với đội ngũ hỗ trợ qua email <strong th:text="${supportEmail}"></strong> để biết thêm chi tiết.</p>
<p>Trân trọng,</p>
<p>Đội ngũ hỗ trợ.</p>
</body>
</html>